asn1crypto==0.24.0
backports.shutil-get-terminal-size==1.0.0
blessings==1.7
cajarename==17.3.28
chardet==3.0.4
configobj==5.0.6
cryptography==2.1.4
decorator==4.1.2
deja-dup-caja==0.0.4
duplicity==0.7.17
enum34==1.1.6
fasteners==0.12.0
folder-color-caja==0.0.86
folder-color-common==0.0.86
gpustat==0.6.0
gyp==0.1
idna==2.6
ipaddress==1.0.17
ipython==5.5.0
ipython-genutils==0.2.0
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
mate-menu==18.4.3
monotonic==1.0
numpy==1.16.6
nvidia-ml-py==12.535.133
opencv-python==4.2.0.32
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.17.3
psutil==5.9.8
pycrypto==2.6.1
pycurl==7.43.0.1
Pygments==2.2.0
pygobject==3.26.1
pyliblzma==0.5.3
pysqlite==1.0.1
python-xlib==0.20
pyxdg==0.25
rpm==4.14.1
scandir==1.7
SecretStorage==2.3.1
setproctitle==1.1.10
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urlgrabber==3.10.2
wcwidth==0.1.7
yum-metadata-parser==1.1.4
